.Navbar{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.Link{
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
}

.Link:hover{
    color: rgb(132, 132, 132);
}