.ava{
    width: 50px;
    border-radius: 100%;
}

.name{
    margin: 10px;
}

.blok{
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: aliceblue;
}

.Subscriptions{
    overflow-y: auto;   /* Вертикальная прокрутка */
    overflow-x: hidden; 
    background-color: rgb(36, 36, 36);
    font-size: 20px;
    color: aliceblue;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px;
    height: 530px;
    width: 28%;
}

.Subscriptions::-webkit-scrollbar {
    display: none; /* Chrome/Safari/Opera */
}