.dialogs p{
    font-size: 20px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.message{
    border-radius: 8px;
    border-style:groove;
    border-color: rgb(0, 0, 0);  
}

.linie{
    width: 80%;
    font-size: 20px;
    height: 25px;
}

.newMessage{
    display: flex;
}

.button{
    font-size: 20px;
    height: 30px;
    width: 100px;
border-radius: 8px;
color:rgb(0, 0, 0);
background-color:rgba(12, 142, 255, 0.66);
}

.button:hover{
background-color:rgba(0, 93, 175, 0.66);
}