.button{
    font-family: monospace;
    font-size: 18px;
    font-weight: bolder;
    height: 40px;
    width: 100px;
border-radius: 8px;
color:rgb(0, 0, 0);
background-color:rgba(12, 142, 255, 0.66); 
}

.button:hover{
background-color:rgba(12, 142, 255, 0.66);
}
.button:active {
    background-color: #48abe0;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }

  .line{
    margin: 0px 10px 0 0;
    font-size: 25px;
    width: 200px;
    height: 35px;
    border-radius: 30px;
}

.form{
  display: flex;
}

.line.error input{
  border-color:brown;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #4d5d7d00;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

.input {
  margin: 5px 10px 0 0;
  display: block;
  position: relative;
  width: 150px;
  height: 34px;
  font-size: 15px;
  border-radius: 25px;
  background: linear-gradient(40deg, #6e6eff, hsl(234, 100%, 51%));
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
}