.button{
    font-family: monospace;
    font-size: 18px;
    font-weight: bolder;
    height: 40px;
    width: 100px;
border-radius: 8px;
color:rgb(0, 0, 0);
background-color:rgba(12, 142, 255, 0.66); 
}

.button:hover{
background-color:rgba(12, 142, 255, 0.66);
}
.button:active {
    background-color: #48abe0;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }

  .line{
    margin: 0px 10px 0 0;
    font-size: 25px;
    width: 200px;
    height: 35px;
    border-radius: 30px;
}

.form{
  display: flex;
}

.line.error input{
  border-color:brown;
}