.formControl.error textarea,
.formControl.error input {
   border: solid red 1px;
}

.formControl.error span {
    color: brown;
}


.span{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 15px;
}

.inputField {
    font-size: 20px;
    border-radius: 5px;
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
}
