.dialogs{
    display: flex;
}

.Link{
    text-decoration: none;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.divLink:hover{
    width: 243px;
}

.contact{
    overflow-y: auto;   /* Вертикальная прокрутка */
    overflow-x: hidden; /* Запрещаем горизонтальную прокрутку */
    background: white;
    width: 380px;
    height: 540px;
    padding: 20px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgb(36, 36, 36);
}

.contact::-webkit-scrollbar {
    display: none; /* Chrome/Safari/Opera */
}

.divLink{
    width: 240px;
    text-decoration: none;
    padding: 5px;
    border: solid;
    border-color: aliceblue;
    border-radius: 3px;
    display: flex;
    margin-top: 15px;
    margin-right: 50px;
}

.img{
    border-radius: 100%;
    width: 50px;
}
