.linie{
    width: 650px;
    margin: 0px 10px 0 0;
    font-size: 20px;
    height: 30px;
    border-radius: 30px;
    margin: 0 0 0 30px;
}
.button{
    font-weight: bolder;
    font-family: monospace;
    font-size: 25px;
    height: 35px;
    width: 100px;
border-radius: 8px;
color:rgb(0, 0, 0);
background-color:rgba(12, 142, 255, 0.66);
}

.button:hover{
background-color:rgba(12, 142, 255, 0.66);
}
.button:active {
    background-color: #48abe0;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }

  .form{
    display: flex;
  }