/* .posts{
    text-align: center
} */

.newPost{
    display: flex;
}

.button{
    font-size: 20px;
    width: 100px;
border-radius: 8px;
color:rgb(0, 0, 0);
background-color:rgba(12, 142, 255, 0.66); 
}

.button:hover{
background-color:rgba(0, 75, 141, 0.66);
}

.line{
    font-size: 25px;
    width: 200px;
    height: 35px;
}

.img{
    white-space: nowrap;
}